{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags and stylesheets go here -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="An offline capable map viewer with GPS integration">
    <meta name="author" content="Pascal Ogola">
    <title>Campus3D</title>
    <link rel="stylesheet" href="{% static 'package/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mapsettings.css' %}">
    <!-- Include jQuery -->
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    {% leaflet_js plugins="ALL" %}
    {% leaflet_css plugins="ALL" %}
    <script src="https://unpkg.com/proj4"></script>
    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.umd.js"></script>
    <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.css" rel="stylesheet" /> 
    <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v1.0.0/leaflet-maptilersdk.js"></script>

</head>
<body>
    <div class="map-container">
        {% block mapcontent %}{% endblock %}
    </div>

    <div class="floating-element">
        {% block floatingelement %}{% endblock %}
    </div>

    <div class="bottom-bar">
        {% block footer %}{% endblock %}
    </div>

    <script src="{% static 'js/mapsettings.js' %}"></script>
</body>
</html>
